$color-dark: #333;
$color-deep-dark: #222;
$color-white: #fff;
$color-light-gray: #ddd;
$color-blue: #08d;

$size-base: 0.8rem;

$size-xs: $size-base;
$size-s: $size-base * 2;
$size-m: $size-base * 3;
$size-l: $size-base * 4;
$size-xl: $size-base * 5;
